body{
  background-color:#00d0ff;;
}



.container{
  width: 450px;
  margin: auto;
  text-align: center;
  margin-top: 5%;
  background-color: white;
  padding: 1%;
  border-radius: 1rem;
  

}

button{
  width: 30%;
  margin: 2rem;
  padding: 1rem;
  background-color:#00d0ff;
  border-radius: 0.5rem;
  font-size: 18px;
  cursor: pointer;

}

